notebook
scikit-learn
pandas
matplotlib
tensorflow
numpy
imbalanced-learn
xgboost
catboost
sklearn_som 

streamlit
streamlit_autorefresh
streamlit-option-menu
plotly
seaborn

spacy
spacy-lookups-data
en_core_web_sm